.titleWrap{
    margin-bottom: 40px;
    margin-top: 147px;
    position: relative;
}

.emoji1{
    position: absolute;
    top: -99px;
    right: 444px;
}

.emoji2{
    position: absolute;
    top: -46px;
    right: 520px;
}

.dropdownWrapper{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.dropdownCol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 10px;
}

