.Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;

}


.whiteBtn{
    padding: 8px 25px;
    border: 1px solid #282828;
    border-radius: 50px;
    opacity: 70%;
    background-color: unset;
    cursor: pointer;
}


.Title h1{
    font-size: 80px;
}